<div class="center jumbotron">
    <h1>Welcome to the Akagi Projcet!</h1>
    <h2>
        以 从黑暗中降临的天才 赤木 茂 的名义重生的UniClown The World Ver. 3rd
    </h2>

    <%= link_to "Sign up now!",signup_path, class:"btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("logo.png", alt:'Akagi logo'),
            "#" %>
