<% provide(:title, "Home") %>
<h1>StaticPages#home</h1>
<head>
<p>Find me in app/views/static_pages/home.html.erb</p>
    <a href="http://www.railstutorial.ort/">Ruby on Rails Tutorial</a>
    sample application
</p>
