
<header class="site-header">
  <div class="inner-wide">
    <p class="site-title">
      <%= link_to "Akagi Project", '/blog' %>
    </p>
    <nav class="site-navigation" aria-label="Main Menu">
      <h2 class="screen-reader-text">Explore Website</h2>
      <ul class="menu">
        <%= top_b_navbar(str) %>
      </ul>
      <!-- .menu -->
    </nav>
    <!-- .site-navigation -->

    <a class="search-toggle" href="/blog">
      <span class="screen-reader-text">Search</span>
      <span class="icon-search" aria-hidden="true"></span>
    </a>
    <a class="sidebar-toggle" href="/blog">
      <span class="screen-reader-text">Open Sidebar</span>
      <span class="icon-nav-custom" aria-hidden="true"></span>
    </a>
  </div>
  <!-- .inner-wide -->
</header>
