<%= render partial: 'cpanel/public/header', locals: { str: 'posts' } %>

<div class="container-fluid">
  <div class="row">
    <%= render partial: 'cpanel/public/sidebar' %>
		<div class="col-sm-9 col-md-10 main">
		  <div class="main-hd">
		    <h5>新的文章</h5>
		  </div>
		  <%= render partial: 'form', locals: { post: @post }%>
		</div>
	</div>
</div>
