@import "variable";
.data-total{
  border: 1px solid $data-total-border;
  background-color: $data-total-bg;
  ul{
    padding: 15px 0;
    margin: 0;
    &:after{
      clear: both;
      content: '';
      display: table;
    }
    li{
      float: left;
      list-style: none;
      width: 25%;
      text-align: center;
      h3{
        font-weight: 200;
        &.data-red{
          color: $data-red;
        }
        &.data-green{
          color: $data-green;
        }
        &.data-blue{
          color: $data-blue;
        }
        &.data-purple{
          color: $data-purple;
        }
      }
      p{
        color: $data-total-p;
      }
    }
  }
}
.data-trend{
  border: 1px solid $data-trend-border;
  margin-top: 25px;
  .data-trend-title{
    padding: 15px;
    background-color: $data-trend-title-bg;
    position: relative;
    h5{
      margin: 0;
      font-size: 16px;
    }
    i{
      padding-right: 10px;  
    }
    .data-chart-btns{
      position: absolute;
      right: 15px;
      top: 11px;
      button{
        border: none;
        border: 1px solid $data-chart-btn-border;
        background-color: #fff;
        &:hover,&:focus{
          outline: none;  
        }
        &.active{
          background-color: $data-chart-btn-active-bg;
          border: 1px solid $data-chart-btn-active-bg;
          color: #fff;
        }
      }
    }
  }
}