@import "variable";
.order-datatime{
  padding-bottom: 10px;
  .form-horizontal{
    .control-label{
      text-align: center;
      width: 40px;
      &:first-child{
        text-align: left;
        width: 100px;
      }
    }
    .col-sm-offset-2{
      margin-left: 100px;
    }
    .input-group{
      border: 1px solid $input-group-order;
      .form-control{
        border: 0;
      }
      .input-group-addon{
        background-color: #fff;
        border: 0;
        color: #ccc;
      }
    }
  }
}
#order-detail{
  .product-item{
    border: none;
    .product-item-hd{
      border-bottom: none;
      p{
        margin: 0;
      }
    }
  }
}


.refund-info{
  h3{
    font-size: 16px;
    padding: 15px 0 10px;
    margin: 0;
  }
  ul{
    list-style: none;
    color: #666;
    li{
      float: left;
      width: 50%;
      line-height: 20px;
      &.long{
        width: 100%;
      }
      &.refund-price{
        color: red;
        font-size: 18px;
      }
    }
    &:after{
      content: '';
      display: table;
      clear: both;
    }
  }
}
.modal-footer{
  text-align: center;
  .btn-primary{
    background-color: #44b549;
    border-color: #44b549;
    &:hover,&:active{
      background-color: #2CA530;
      border-color: #2CA530;
    }
  }
}
