@import "variable";
.shop-infor{
  .list-group-item{
    border-radius: 0;
    border-color: $shop-infor-border;
    .shop-label{
      color: $shop-label-color;
    }
    .shop-input,.shop-sure{
      display: none;
    }
    .shop-input{
      width: 100%;
    }
    .shop-qr{
      img{
        width: 80px;
        height: 80px;
      }
    }
  }
}
