<a id="uploded-<%= photo.id %>" class="uploaded" data-remote="true" href="<%= cpanel_photo_path(photo) %>" data-confirm="确认删除？" rel="nofollow" data-method="delete" >
  <img  src="<%= photo.image %>"></img>
</a>
