<% provide(:title,"YggDraSil") %>
<h1>YggDraSil</h1>

<ul>
    <li><%= link_to @case.title, case_path(@case) %>  =><%= link_to "buid new", new_case_path+"?father_id=#{@case.id}" %></li>
        <ul>
            <%= render partial: "case", collection: @case.sub_cases, as: :thiscase %>
        </ul>

</ul>
