<% provide(:title,"All CASES") %>
<h1>ALL CASES</h1>

<ul class="users">
    <%= if Case.last.nil? %>
        <%= link_to "新建事件",new_case_path %>
    <% else %>
        <%= link_to Case.last.title,Case.last %> => <%= link_to "新建事件",new_case_path+"?father_id=1" %>

    <% end %>
</ul>
