@import "bootstrap-sprockets";
@import "bootstrap"; /* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal */

* {
  text-shadow: #666 0 0 0.5px !important;
}

*:not([class*="icon"]):not(i) {
  font-family: GillSans,"Microsoft YaHei", sans-serif;
}

code,
kbd,
pre,
samp,
var {
  font-family: Monaco,monospace !important;
}

a > font:hover,
a:hover,
a:hover *,
b > font:hover,
button[type="submit"]:hover *,
label:hover {
  transition: color 0.423s ease, text-shadow 0.423s ease;
  color: rgba(255,255,255,1) !important;
  text-shadow: 0 1px rgba(64,64,255,0.9), 0 1px 1px rgba(64,64,255,0.9), 0 -1px 1px rgba(64,64,255,0.9), 1px 0 1px rgba(64,64,255,0.9), -1px 0 1px rgba(64,64,255,0.9), 0 0 3px rgba(64,64,255,0.9) !important;
}


section {
  overflow: auto;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

.timestamps {
  float: right;
  color: $gray-light;
  display: block;
  margin-left: 60px;
}
/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: #777;

  a {
    color: #555;

    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* sidebar */
div {
  section.user_info {
    text-align: center;
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4em;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
    }
  }
}

.gravatar {
  //float: left;
  //margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;

  a {
    float: left;
    padding: 1 10px;
    border-left: 10px solid #337ab7;
    color: gray;

    &:hover {
      text-decoration: none;
      color: blue;
    }
  }

  strong {
    border-left: 50px;
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;

  .gravatar {
    margin: 1px;
  }

  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
/* forms */
.uneditable-input,
input,
select,
textarea {
  border: 1px soild #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

div .kv-main {
  width: 100%;
}
/* Users index */
.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;

  input {
    border: 0;
  }
}
/* case */
.infobox {
  overflow: hidden;
  width: 220px;
  padding-bottom: 10px;
  word-break: break-all;

  ul {
    -webkit-padding-start: 0;
    list-style: none;
  }

  li {
    padding: 2px;
    border-bottom: 1px solid #E0E0E0;
  }
}

.edit {
  float: right;
}
/* bar */
ul .posts {
  margin-bottom: 10px;
}

.case {
  .case_hd {
    height: 350px;
    position: relative;
    z-index: 3;
  }

  .case_title {
    border-left: 7px solid #E0E0E0;
    color: #FFFFFF;
    font-size: 2.0em;
    text-align: left;
    letter-spacing: -1px;
    margin: 10px;
    position: absolute;
    z-index: 3;
    font-weight: bold;
  }

  .filter {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.76);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0.55;
    filter: alpha(opacity=55);
  }

  :hover .filter {
    opacity: 0.75;
    filter: alpha(opacity=75);
  }
}

.user_info {
  img {
    width: 100%;
  }
}


/* CSS */

.radio-beauty-container {
  font-size: 0;
}

.radio-beauty-container .radio-beauty:hover,
.radio-beauty-container input[type="radio"]:checked + .radio-beauty {
  padding: 2px;
  background-color: #e9686b;
  background-clip: content-box;
}

.radio-beauty-container .radio-name {
  vertical-align: middle;
  font-size: 16px;
}

.radio-beauty-container .radio-beauty {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #e9686b;
  vertical-align: middle;
  margin: 0 15px 0 3px;
  border-radius: 50%;
}

.radio-beauty-container .radio-beauty:hover {
  box-shadow: 0 0 7px #e9686b;
}
