<div class="wechat-notice" >
  <div class="weui-mask-transparent"></div>
  <div class="weui-toast">
    <i class="weui-icon-info-circle"></i>
      <p class="weui-toast-content"></p>
  </div>
</div>
