@import "setOnePx";
@import "variable";
body{
  background-color: $bg;
  font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.weui-cell_link{
  color: $link;
}
.container{
  position: relative;
  height: 100%;
}
.main{
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.main_bottom{
  padding-bottom: 50px;
}
.img-responsive{
  width: 100%;
}
.orange{
  color: #f50;
}

.list{
  .list-hd{
    font-size: 17px;
    color: $link;
    text-align: center;
    padding: 10px 0;
    i{
      color: #ff5306;
      height: 24px;
      margin-right: 6px;
      line-height: 24px;
      &:before{
        font-size: 24px;
      }
    }
  }
  .item{
    display: block;
    color: $link;
    position: relative;
    margin-bottom: 10px;
    img{
      display: block;
    }
    &:last-child{
      margin-bottom: 0;
    }
    .info{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(0,0,0,0.4);
      color: #fff;
      padding: 6px 0 6px 15px;
      box-sizing: border-box;
    }
  }
}
.hd10{
  margin-top: 10px;
  &:before{
    @include setTopLine();
  }
}
.hd,.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 44px;
  padding: 0 15px;
  position: relative;
  &:after{
    @include setBottomLine();
  }
  .back{
    position: absolute;
    color: $desc;
    left: 10px;
    top: 7px;
    &:before{
      font-size: 20px;
    }
  }
  .hd-right{
    position: absolute;
    top: 10px;
    right: 10px;
    color: $desc;
    font-size: 14px;
  }
  .country{
    border: 1px solid $active;
    border-radius: 5px;
    overflow: hidden;
    a{
      padding: 2px 18px;
      display: inline-block;
      color: $active;
      &.active{
        color: #fff;
        background-color: $active;
      }
    }
  }
  .location{
    overflow: hidden;
    position: relative;
    padding-right: 20px;
    color: $link;
    &:after{
      content: " ";
      display: block;
      height: 6px;
      width: 6px;
      border-width: 1px 1px 0 0;
      border-color: $link;
      border-style: solid;
      transform: rotate(135deg);
      position: absolute;
      right: 6px;
      top: 8px;
    }
  }
  .search{
    flex: 1;
    background-color: $bg;
    height: 28px;
    line-height: 28px;
    border-radius: 28px;
    margin-left: 10px;
    position: relative;
    i{
      padding: 0 10px;
      color: $desc;
      position: absolute;
    }
    input{
      outline: none;
      background: none;
      border: none;
      flex: 1;
      font-size: 17px;
      color: $desc;
      text-indent: 36px;
    }
  }
}
.swiper-pagination-bullet-active{
  background-color: $active;
}
.swiper-slide img{
  display: block;
}
.weui-tabbar{
  .weui-tabbar__item{
    padding: 5px;
  }
}
.navigate{
  background-color: rgba(0,0,0,0.3);
  color: rgba(255,255,255,0.8);
  border-radius: 30px;
  padding: 0 15px;
  line-height: 30px;
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 9;
  &:active{
    background-color: rgba(0,0,0,0.6);
  }
}
.intro{
  position: relative;
  background-color: #fff;
}
.weui-cells.info{
  margin-top: 0;
  h3{
    font-size: 16px;
    font-weight: normal;
  }
  p{
    color: $desc;
    font-size: 12px;
    &.price{
      font-size: 20px;
    }
  }
}
.intro,.swiper-container{
  .back{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 9;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    border-radius: 34px;
    &:before{
      font-size: 24px;
    }
  }
}
.weui-article{
  .title{
      font-size: 17px;
  }
  img{
    display: block;
    height: auto;
  }
}



.aside-area{
  position: fixed;
  left: 0;
  top: 88px;
  bottom: 0;
  z-index: 9;
  width: 88px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-right: 1px solid $border;
  ul{
    li{
      text-align: center;
      padding: 12px 0;
      position: relative;
      &:after{
        @include setBottomLine();
      }
      a{
        color: $link;
      }
      &.active{
        a{
          color: $active;
        }
      }
    }
  }
}
.main-area{
  margin-left: 88px;
  padding: 4%;
  ul{
    list-style: none;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    li{
      width: 46%;
      background-color: #fff;
      padding: 8px 0;
      text-align: center;
      border-radius: 3px;
      border: 1px solid $border;
      margin-bottom: 4%;
      a{
        color: $link;
      }
      &.active{
        border-color: $active;
        a{
          color: $active;
        }
      }
    }
  }
}
.weui-date{
  color: $desc;
}
.weui-btn-area{
  margin: 15px;
}
.add-dqr{
  color: $link;
  .weui-cell__ft{
    i{
      color: $active;
    }
  }
}
.weui-actionsheet{
  .weui-actionsheet__menu{
    .weui-cells__title{
      margin: 0;
      padding: 10px 15px;
      font-size: 17px;
      text-align: center;
      color: $link;
    }
  }
}
.weui-cells{
  margin-top: 10px;
}

.weui-tabbar__icon{
  &:before{
    font-size: 20px;
  }
}
.weui-form-preview{
  margin-bottom: 0;
  &:first-child{
    margin-bottom: 15px;
  }
  .weui-form-preview__hd .weui-form-preview__value{
    font-size: 20px;
  }
}

.nav{
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  padding: 15px;
  position: relative;
  &:after{
    @include setBottomLine();
  }
  a{
    display: block;
    width: 25%;
    color: $link;
    img{
      width: 75%;
      margin: 0 auto;
      display: block;
    }
    p{
      text-align: center;
      padding-top: 8px;
    }
  }
}

.hot{
  background-color: #fff;
  display: flex;
  position: relative;
  flex-flow: row wrap;
  align-content: flex-start;
  padding: 4px;
  &:after{
    @include setBottomLine();
  }
  a{
    display: block;
    width: 25%;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-sizing: border-box;
    border: 4px solid #fff;
  }
  .hot-bg1{
    background-color: #fa0606;
  }
  .hot-bg2{
    background-color: #70cbe0;
  }
  .hot-bg3{
    background-color: #f1bb01;
  }
  .hot-bg4{
    background-color: #ff99b7;
  }
  .hot-bg5{
    background-color: #0000a0;
  }
  .hot-bg6{
    background-color: #835033;
  }
  .hot-bg7{
    background-color: #006a26;
  }
  .hot-bg8{
    background-color: #d10100;
  }
}
.hot-county{
  a{
    width: 33.33%;
    position: relative;
    padding: 0;
    img{
      width: 100%;
      display: block;
      border-radius: 8px;
    }
    p{
      background-color: rgba(0,0,0,0.6);
      color: #fff;
      text-align: center;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
.weui-form-preview{
  margin-bottom: 15px;
}

.weui-msg{
  .gficon-service{
    color: $desc;
    &:before{
      font-size: 100px;
    }
  }
}

.fixed{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  box-sizing: border-box;
  &+.hot{
    margin-top: 44px;
  }
}

.weui-toast{
	padding: 0 1.2em 1.2em;
	margin-left: -5em;
	i{
		margin-top: 22px;
		display: block;
		&:before{
			font-size: 55px;
			color: #fff;
		}
	}
	.weui-toast-content{
		margin: 0;
		margin-top: 5px;
	}
}

button.weui-vcode-btn {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    outline: 0;
}
