.weui-toast{
	padding: 0 1.2em 1.2em;
	margin-left: -5em;
	i{
		margin-top: 22px;
		display: block;
		&:before{
			font-size: 55px;
			color: #fff;
		}
	}
	.weui-toast-content{
		margin: 0;
		margin-top: 5px;
	}
}

.dropload-down{
 	text-align: center;
 	color: #888;
 	flex: 0 0 100%;
 	padding-top: 10px;
 }


 * {
     text-shadow: #666 0px 0px 0.5px !important;
 }

 *:not([class*="icon"]):not(i) {
     font-family: GillSans,"Microsoft YaHei", sans-serif;
 }

 pre, code, kbd, samp, var {
 font-family: Monaco,monospace !important;
 }

 a:hover,a>font:hover,b>font:hover,a:hover *,button[type="submit"]:hover *,label:hover {
     transition:
         color 0.423s ease,
         text-shadow 0.423s ease;
     color: rgba(255,255,255,1) !important;
     text-shadow:
         0 1px rgba(64,64,255,0.9),
         0 1px 1px rgba(64,64,255,0.9),
         0 -1px 1px rgba(64,64,255,0.9),
         1px 0 1px rgba(64,64,255,0.9),
         -1px 0 1px rgba(64,64,255,0.9),
         0 0 3px rgba(64,64,255,0.9) !important;
 }
