@font-face {font-family: 'FontAwesome';
  src: font-url('fontawesome-webfont.eot') format('embedded-opentype'),
  font-url("fontawesome-webfont.woff") format("woff"),
  font-url("fontawesome-webfont.ttf") format("truetype"),
  font-url("fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
