<div class="col-sm-3 col-md-2 sidebar hidden-xs">
  <div class="menu">
    <dl>
      <dt><i class="cm-product"></i>案件管理</dt>
      <dd class="<%= active_sidebar_class(cpanel_cases_path) %>">
        <%= link_to "所有案件", cpanel_cases_path %>
      </dd>
      <dd class="<%= active_sidebar_class([:new, :cpanel, :case]) %>">
        <%= link_to "新的案件", [:new, :cpanel, :case] %>
      </dd>
    </dl>
  </div>
</div>
