<!DOCTYPE html>
<html>
  <head>
    <title>YggDraSil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	  <%= stylesheet_link_tag    'cpanel', media: 'all', 'data-turbolinks-track' => false %>
	  <%= javascript_include_tag 'cpanel', 'data-turbolinks-track' => false %>
	  <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
